  <h1><%= @result_data[:name] %>     <i><small><%= @result_data[:bio] %></small></i>  </h1>

  <blockquote>
    <h5><%= @result_data[:company] %></h5>
    <small>  <%= @result_data[:location] %>   <i class="icon-map-marker"></i>   Planet Earth    🌍 </small>
  </blockquote>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 img">
        <!-- <img src="<%= @result_data[:avatar_url] %>"  class="img-rounded" > -->
      </div>


      <div class="col-md-6 details">
        <p>
          <a href='<%= @result_data[:html_url] %>'><%= @result_data[:login] %></a><br>

          <a href='<%= @result_data[:blog] %>'><%= @result_data[:blog] %></a> <br>

          <%= @result_data[:public_repos] %> public repositories <br>
          <%= @result_data[:followers] %> followers <br>
          <%= @result_data[:following] %> following <br><br>

          user since <%= @result_data[:created_at] %> <br>
          last updated on <%= @result_data[:updated_at] %> <br>

          <br>
          <% if  @result_data[:hireable] == true %>
          ( <span class="ec ec-raising-hand-woman"></span>hire me! <span class="ec ec-tipping-hand-woman"></span>)
          <% end  %>


        </p>
      </div>
    </div>
  </div>
  <br><p><a href='/'>Look up another person</a></p>
